.notification{
    position: fixed;
    z-index: 999;
    bottom: 15px;
    left: 15px;
    background-color: #fff;
    padding: 20px 45px;
    border-radius: 4px;
    width: 25%;
    display: flex;
    border-left: 10px solid;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    .notification-icon{
        margin-right: 15px;
        font-size: 1.5em;
    }
    .notification-content{
        p{
            margin-bottom: 0;
        }
    }
    &.success-notification{
        border-color: $success;
        .notification-icon{color: $success;}
        .notification-content{b{color: $success;}}
    }
    &.danger-notification{
        border-color: $danger;
        .notification-icon{color: $danger;}
        .notification-content{b{color: $danger;}}
    }
}
.footer-payment-methods{
    li a img{
        height: 32px;
        width: auto;
    }
}
//Cookies Disclaimer
#cookies-disclaimer{
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    background-color: $brand;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px;
    z-index: 9999;
    p{
        margin-bottom: 0;
        color: #fff;
    }
    a{
        background-color: rgba(255,255,255,0.6);
        color:$black;
        padding:5px 15px;
        border-radius: 4px;
    }
}
.lSSlideOuter{
    display: block;
}
@media screen and (max-width:820px){
    .notification{
        left: 4%;
        right: 4%;
        width: 92%;
    }    
}