.user-profile-sidebar{
    background-color: $lightgrey;
    padding: 40px 20px;
    border-radius: 4px;
    img{
        border-radius: 50%;
        margin: 0 auto 25px auto;
        display: block;
        width: 150px;
        height: 150px;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
    }
    h2{
        font-size: 1.3em;
        line-height: 25px;
        span{
            font-size: 0.7em;
            color: $darkgrey;
            font-weight: lighter;
        }
    }
    ul{
        list-style: none;
        li{
            margin-bottom: 15px;
            a{
                font-size: 0.8em;
                color: $black;
                transition: all ease 0.3s;
                &:hover{
                    color: $brand;
                    padding-left: 10px;
                    transition: all ease 0.3s;
                }
            }
        }
    }
}
.profile-card{
    background-color: #fff;
    padding: 25px;
    border-radius: 4px;
    text-align: center;
    i{
        display: block;
        font-size: 2.5em;
        margin-bottom: 20px;
        color: $brand;
    }
}
.edit-profile-form{
    h3{
        margin-bottom: 25px;
    }
    label{
        font-size: 0.8em;
    }
}